Lists & List Comprehensions

In [1]:
# There are two ways to make lists
example = list()
example = []

In [15]:
# Append values to a list
scores = [23, 35, 19, 20, 22, 21, 18]
scores.append(17)
scores.append(99)
scores

[23, 35, 19, 20, 22, 21, 18, 17, 99]

In [9]:
# Note that in lists the order of the data is maintained, not true for sets.

In [10]:
scores[2]

19

In [7]:
scores[0:4]

[23, 35, 19, 20]

In [8]:
scores[-4]

21

In [12]:
# lists can contain multiple data types as well as multiple lists

test_case = [123, False, "Dodge", [567, 890, False]]
test_case

[123, False, 'Dodge', [567, 890, False]]

In [14]:
# lists can be combined

numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

numbers + letters

[1, 2, 3, 'a', 'b', 'c']

In [17]:
#dir(numbers)

List Comprehension

In [21]:
# The traditional way ...

squares = []
for i in range(1, 101):
    squares.append(i**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [23]:
# Using list comprehension

squares2 = [i**2 for i in range(1, 101)]

print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [27]:
remainders5 = [x**2 % 5 for x in range(1, 101)]
print(remainders5)

[1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0]

In [29]:
remainders11 = [x**2 % 11 for x in range(1, 101)]
print(remainders11)

[1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1]

In [32]:
# Another example uisng traditional way...

movies = ["Star Wars", "Ghandi", "Casablanca", "Shawshank Redemtion", "Gone with the Wind", "Gattaca"]

gmovies = []
for title in movies:
    if title.startswith("G"):
        gmovies.append(title)
print(gmovies)

['Ghandi', 'Gone with the Wind', 'Gattaca']

In [35]:
# Using list comprehension...

gmovies2 = [title for title in movies if title.startswith("G")]
print(gmovies2)

['Ghandi', 'Gone with the Wind', 'Gattaca']

In [37]:
# With tuples...

movies2 = [("Star Wars", 1979), ("Ghandi", 1983), ("Casablanca", 1946), 
           ("Shawshank Redemtion", 1991), ("Gone with the Wind", 1943), ("Gattaca", 1993)]
movies2

[('Star Wars', 1979),
 ('Ghandi', 1983),
 ('Casablanca', 1946),
 ('Shawshank Redemtion', 1991),
 ('Gone with the Wind', 1943),
 ('Gattaca', 1993)]

In [39]:
pre90s = [title for (title, year) in movies2 if year < 1990]
pre90s

['Star Wars', 'Ghandi', 'Casablanca', 'Gone with the Wind']

In [40]:
#Scaler multiplication using list comprehension

v = [2, 3, -1]
4*v

[2, 3, -1, 2, 3, -1, 2, 3, -1, 2, 3, -1]

In [41]:
w = [4*x for x in v]
w

[8, 12, -4]

In [42]:
# Cartesian Product Example

A = [1, 3, 5, 7]
B = [2, 4, 6, 8]

cartesian_product = [(a,b) for a in A for b in B]
cartesian_product

[(1, 2),
 (1, 4),
 (1, 6),
 (1, 8),
 (3, 2),
 (3, 4),
 (3, 6),
 (3, 8),
 (5, 2),
 (5, 4),
 (5, 6),
 (5, 8),
 (7, 2),
 (7, 4),
 (7, 6),
 (7, 8)]